*{
    padding:0;
    margin:0;
    color:#333
}

.Navigation{
width:100%;
height:10vh;
background-color: #333;
color:#fff;
}

.Navigation-color{
background-color: #001970;
    color:#fff
    
}

.Navigation-color ul li a {

    color: #fff;
    

}


.Navigation-color ul li :hover {


    background-color: #303f9f;
    border-radius: 8px;
}

.Footer{
background-color: #001970;
 margin-top:5vh;
min-height: 50vh;
padding:10%;

}

.Footer  h2{

    color: #ddd;

}

.Footer h3{
    color: #ddd;

}

.Footer h4{
    color: #ddd;
}

.Footer h5{
    color: #ddd;
}


.Footer p{
    color: #ddd;
}


.Poster{
    height:70vh;
    background-image: url("IMG/bg3.jpg");
    background-size: cover;
    position:relative;
    z-index: 0;
    
}

.Poster-Shadow{
    background-color: rgba(0,0,0,0.3);
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    width:100%;
    height:70vh;


}

.Quote{

    position:absolute;
    top:50%;
    left:50%;
    width:55%;
    color:#fff;
    text-transform: capitalize;
    
    z-index: 2;
    padding:10px;
    transform: translate(-50%,-50%);
    font-family:serif;
    border-radius: 8px;
    
    
}

.Quote-upper{
    color:#fff;
    font-size:300%;
}

.Quote-lowwer{
    color:#fff;
    font-size:250%;
}
.Quote-owner{
    color:#fff;
    font-size:150%
}

.ratedResuturant{
    min-height: 70vh;
}

.card-image{
    min-height: 100%;
    max-height: 100%;
}

/*.card{
    min-height: 30vh;
    margin-top:10%;
    Color:#333;
}
*/
.card-img-top{
    min-height: 50%;
    max-height: 50%;
}
.card-style{
height: 50vh;
margin-top:10%;
}

.card-img-top{
    height: 40%;

}

.poster-buttons{

   margin-left:25%;

}


.Service{

    width:100%;
    height:50vh;
    background-image: url("IMG/food.jpg");
    background-size: cover;
    position: relative;
    z-index: 0;
}

.ser{
    font-family: serif;
}

.ser i{
 
    margin-top:10%;
    color:#888;
    font-size: 500%;
}


.ser h2{
    margin:5px;
    color:#666;
}

.ser h4{
    color: #666;
}



.img-size{
width:50%;
height: 40%;

}

.control-panel{

font-family: serif;
padding-top:5%;
color:#666;
}

.control-panel h3,h5{
    color:#666;
}

.about{
    margin:8%;
}

.cat{
    margin-top: 3%;
    
    min-height: 40vh;
    
}




.pos-fixed{
position:fixed;
width:10%;
}

.kitchen{
    position: relative;
}

.selected{

    background-color: #001970;
    color: #fff;
    border-radius: 8px;

}

.selected td{
    color:#fff;
}

.banner{
margin-top:4%;
min-height: 60vh;
font-family: serif;
}

.topMargin{
    margin-top: 15px;
}
.cartIcon span{
    color: #666;;
}

.cartIconDis span{
    color:#ddd;
}


.cartIcon :hover{
   transform: scale(1.1);
   color:#303f9f;

}


.cartIcon :active{
    transform: scale(1.2)
}


.cartArea{

    width:100%;
    height: 50vh;
    max-width: 50vh;
    margin:3px;
    padding:10px;
    
    border-radius: 8px;
   
    overflow: auto;
    max-height: 60vh;



}

.dropdown-menu {
    background-color: #001970;
}
.dropdown i{
    color:#AAA;
    padding-right: 5px;
}

.dropdown-item i{
    color:#fff;
}

.dropdown-item i:hover{
        color:#303f9f;
}


.dropdown-menu .dropdown-item:hover{
    background-color: #AAA;
}


.rememberMe{
display: flex;
padding: 10px;
margin-left: 20%;
}

.rememberMe h6{
    color: #ddd;
}

.addKit{
font-family: serif;
}
.addKit h2{
    color:#333
}
.overflow{
    overflow: auto;
    max-height: 200px;
    min-height: 200px;
    padding: 5px;
    margin-bottom: 20px;

}
.meal{
padding:5px;
padding-left:20px;
margin-bottom: 5px;
border-radius: 3px;
border-left: 6px outset #ddd;
}

.discustomer{
    color: #fff;
    font-family: serif;
    height:35vh;
    border-radius: 8px;
    width:90%;

}
    
    


form{
    margin:10%;
}

.order{
    margin-top: 10vh;
    min-height: 50vh;
}

.dashboard{
    margin-top:10vh;
}

.dashboard_menu{

    position:fixed;
    top:8;
    left:10;
}

.profile-icon{
    width:50%;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left:20%;
    margin-top:10px;
   
    
 }

 .MenuModal{
    width:100%;
    height: 100%;
   background-color: rgba(0, 0, 0,0.6);
    border-radius: 8px;
    font-family: serif;  
    position:fixed;
    top:0%;
    left:0%;
    z-index: 100;
 }

 .MenuModalData{
    
    margin-top:10%;
    border-radius: 8px;
    min-height: 30vh;
    max-height: 30vh;

 }

 .solidbackground{
    padding:10px;

 }

 .pending{
    padding:8px;
    color: #fff;
    border-radius: 8px;
 }

 .login{
    background-color: rgba(0,0,0, 0.3);
    color:#fff;
    width:50%;
    border-radius: 15px;
    
    
    
 }
 
 .selected_menu{
     background: #001970;
     color: #eeffee;
 }

 .selected_menu th{
     color: #fff;
 }
 

 .signup span{
     margin-top:10px;
    color:#fff;
    font-family: serif;
    cursor: pointer;
 }

 .logininputs input{

    padding:10px;
    border-bottom: 3px outset #fff;
    margin:4px;
    border-top: none;
    border-left: none;
    border-right: none;

    border-radius: 3px;
    outline: none;
    background-color: rgba(0,0,0,0.0);
    color: #fff;
    
    

 }
 .dashboard_menu table tr{
    cursor: pointer;

 }

 .logininputs select{

    padding:10px;
    border-bottom: 3px outset #fff;
    margin:4px;
    border-top: none;
    border-left: none;
    border-right: none;
    width:100%;
    border-radius: 3px;
    outline: none;
    background-color: rgba(0,0,0,0.0);
    color: #fff;
    margin-bottom: 10px;
    
    

 }

 .logininputs select:focus{
    border-bottom: 3px outset #ffd012;
 }

 .logininputs input:focus{
    border-bottom: 3px outset #ffd012;
 }

 .logininputs input::placeholder {

    color:#fff;
 }
 
 .loginSection hr{
    margin-left:10%;
    margin-right:10%;
    background-color: whitesmoke;
 }
 
 .cut{
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url("IMG/ketefo.jpg");
    background-size: cover;
    z-index: 100;
    opacity: 0.8;
   
 }
 .Navi{
     height: 6vh;
 }

 .Nav-Icon{
    color:#fff;

 }

 .Login-icon{
     color: #fff;
 }

.copyRight{
    background-color: #303f9f;
    height: 5vh;
}

@media screen and (max-width:798px){

.catagory{
    display:none;
}
.Service{
display: none;
}
.dashboard_menu{
    position:relative;
    
}

}

::-webkit-scrollbar{
    width: 5px;
    
}


  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    
  }

  .quantitiy input{
    width:100%;
  }

  .dashboardshow{
    height: 60vh;
  }

  .dashboard {
        }
  
  .dashicon{
      display: flex;
      align-content: center;
      align-items: center;
        justify-content: center;
        color:#fff;

  }
  
  .profile-banner{

    height: 40vh;
    background-image: url("IMG/bg1.jpg");
    background-size: cover;
  }

  .profile-image{
    margin-top: 3px;
   border-radius: 8px;
  }

  .imageUpload{
      
      height:5vh;
    border: 2px dashed #AAA;
    padding:20px;
      border-radius: 8px;;
      
  }

  .imageUploadOuter{
     border: 2px outset #666;
        padding:10px;
  }

  .edit input{
      margin-bottom: 10px;
  }
  .edit{
      padding:50px;
  }

  .edit button{
      margin:10px;
  }

  .changePassword input{ 
      margin-top: 10px;
      
  }

  .changePassword{
    padding: 10px;
  }

  .changePassword button{
      margin-top: 10px;
  }
  .profile{
      margin-bottom: 20px;
  }
  .rated{
    color: goldenrod;

  }
  .search{
    position:relative
  }

  .search-res{
    position:absolute;
    width:97%;
     
  }

  .searchResult{

    margin:10px;
    padding-left:10px;
  }
  .userLogin{
    padding:10px;
  }

  .wrapper{
      padding: 5%;
      padding-top:15%;
      font-family: serif;
  }

  .wrapper input{
      margin-bottom: 10px;
      margin-left: 3px;
  }
  .flex{
      display:flex;
  }

  .bt-margin{
      margin-bottom: 2vh;

  }

  .img-heigh{

    height: 30vh;
  }
  .likes i{

        color: #aaa;
  }
  .likes span{
      color: #AAA;
  }

  .likes .active{
      color: blue;
  }
  .likes{
      margin-bottom: 5px;
  }

